#!/usr/bin/env bash

# Make homebrew more private and secure
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_INSECURE_REDIRECT=1
export HOMEBREW_CASK_OPTS=--require-sha

# Make homebrew 'sed' overwrite the built-in `sed`.
PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"
